.Infor{
    text-align:center;
    position: relative;
    left: 100px;
    height: 50vh;
    width: 500px;
    
}

.table{
    /*
        height: 50vh;
        width: 100%; 
        margin-top: auto; 
        margin-bottom: auto; 
     */ 
     position: absolute;
     bottom: 0px;
}
.slot{
    background-color: rgb(98, 191, 198);
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}